status.goodwatch.app {
  reverse_proxy http://coinmatica.net:4801
}
a.goodwatch.app {
  header {
    Access-Control-Allow-Origin https://goodwatch.app
  }
  handle /static {
    reverse_proxy https://eu-assets.i.posthog.com:443 {
      header_up Host eu-assets.i.posthog.com
      header_down -Access-Control-Allow-Origin
    }
  }
  handle {
    reverse_proxy https://eu.i.posthog.com:443 {
      header_up Host eu.i.posthog.com
      header_down -Access-Control-Allow-Origin
    }
  }
}
convex.aistack.to {
  reverse_proxy http://10.0.0.20:3210
}
convex-site.aistack.to {
  reverse_proxy http://10.0.0.20:3211
}
