env {
    TERM "xterm"
}
layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="hq" focus=true {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.10" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-hq; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.10" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-hq && htop; exec $SHELL"
            }
        }
    }
    tab name="abio" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.21" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-remote; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.21" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-remote && htop; exec $SHELL"
            }
        }
    }
    tab name="db1" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.11" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.11" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate && htop; exec $SHELL"
            }
        }
    }
    tab name="db2" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.12" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.12" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate && htop; exec $SHELL"
            }
        }
    }
    tab name="db3" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.13" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.13" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-crate && htop; exec $SHELL"
            }
        }
    }
    tab name="cache1" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.14" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.14" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache && htop; exec $SHELL"
            }
        }
    }
    tab name="cache2" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.15" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.15" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache && htop; exec $SHELL"
            }
        }
    }
    tab name="cache3" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.16" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.16" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-cache && htop; exec $SHELL"
            }
        }
    }
    tab name="mongo1" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.17" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.17" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo && htop; exec $SHELL"
            }
        }
    }
    tab name="mongo2" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.18" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.18" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo && htop; exec $SHELL"
            }
        }
    }
    tab name="mongo3" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.19" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.19" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-mongo && htop; exec $SHELL"
            }
        }
    }
    tab name="vector1" {
        pane split_direction="vertical" size="60%" {
            pane size="60%" {
                command "ssh"
                args "-t" "root@10.0.0.20" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-vector; git pull; df -h; exec $SHELL"
            }
            pane {
                command "ssh"
                args "-t" "root@10.0.0.20" "cd /root/goodwatch/goodwatch-monorepo/goodwatch-vector && htop; exec $SHELL"
            }
        }
    }
}
